body {
    padding-top: 100px; /* Adjust as needed */
}
h1 {
    font-size: 23px;
}
.loginbody {
    background-color: #161616 ;
    color: #161616;
    font-family: monospace, serif;
    letter-spacing: 0.05em;
}

a {
    color: #ffffff; /* Matches the parent element's font color */
    text-decoration: none; /* Removes the underline */
}


.validation-summary {
    color: #d9534f; /* Bootstrap's danger color */
    background-color: #f2dede; /* Light red background */
    border: 1px solid #ebcccc; /* Border color */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.validation-error {
    display: block; /* Ensures each error appears on a new line */
    color: #d9534f; /* Danger color */
    font-weight: bold; /* Makes the text bold */
    margin-top: 5px; /* Spacing above the error message */
}